/* line 5, kekespro.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #444;
  line-height: 1.2; }

/* line 12, kekespro.scss */
body {
  margin: 0; }

/* line 17, kekespro.scss */
a {
  color: #3190ED;
  text-decoration: none;
  font-weight: 400; }
  /* line 21, kekespro.scss */
  a:hover {
    text-decoration: underline; }

/* line 25, kekespro.scss */
#ex1 {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 5px; }

/* line 31, kekespro.scss */
#ex1 p {
  color: #000; }

/* line 34, kekespro.scss */
span.icon_clear {
  position: absolute;
  top: 48px;
  right: 10px;
  display: none;
  cursor: pointer;
  font: 1em sans-serif;
  color: #ccc; }

/* hakufilter */
/* line 45, kekespro.scss */
span.icon_clear:hover {
  color: black; }

/* line 49, kekespro.scss */
.urlToBasket {
  float: left;
  margin: 10px 0; }

/* line 53, kekespro.scss */
.emptyBasket {
  float: right;
  margin: 10px;
  display: none; }

/* line 58, kekespro.scss */
#basketcontents {
  clear: both;
  line-height: 1.35em;
  font-weight: 300; }
  /* line 62, kekespro.scss */
  #basketcontents b {
    display: block;
    margin-top: 10px; }

/* line 67, kekespro.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.99; }

/* line 75, kekespro.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em; }
  /* line 79, kekespro.scss */
  h1 a, h2 a {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit; }

/* line 86, kekespro.scss */
h1 {
  padding: 30px;
  display: none; }

/* line 90, kekespro.scss */
h2 {
  padding: 30px 0px 30px 0px;
  display: inline-block; }

/* line 94, kekespro.scss */
b {
  font-weight: 600; }

/* line 97, kekespro.scss */
mark {
  color: #444;
  font-weight: 400;
  background-color: #ffdd33; }

/* line 102, kekespro.scss */
label {
  margin-top: 5px;
  display: block;
  font-weight: 300; }

/* line 107, kekespro.scss */
input {
  width: 200px; }

/* line 110, kekespro.scss */
input[type="text"] {
  display: inline-block;
  outline: none;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  margin: 5px 0; }
  /* line 119, kekespro.scss */
  input[type="text"]::before {
    content: "x";
    color: red; }
  /* line 123, kekespro.scss */
  input[type="text"]:focus {
    background-color: #fafcff;
    border: 1px solid #88aaee; }
  /* line 127, kekespro.scss */
  input[type="text"].invalid + .required {
    display: inline-block; }

/* line 132, kekespro.scss */
.required {
  display: none;
  color: red;
  margin-left: 3px; }

/* line 138, kekespro.scss */
input[type="button"] {
  display: block;
  outline: none;
  cursor: pointer;
  height: 3em;
  margin: 5px 0;
  font-weight: 400;
  font-size: 1em;
  background-color: #C4E8FF;
  border: 1px solid #8CC2E5;
  color: #444; }
  /* line 149, kekespro.scss */
  input[type="button"]:hover:not(:disabled) {
    color: #000;
    background-color: #AFE0FF; }
  /* line 153, kekespro.scss */
  input[type="button"]:disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background: #eee; }

/* line 160, kekespro.scss */
.columnsContainer {
  position: relative;
  margin: 7em .5em .5em .5em; }

/* line 164, kekespro.scss */
.leftColumn, .rightColumn {
  padding: .25em; }

/* line 167, kekespro.scss */
.leftColumn {
  margin-bottom: .5em; }

/* line 170, kekespro.scss */
.rightColumn {
  background: #eee9e5; }

/* line 173, kekespro.scss */
ul {
  padding: 0; }

/* line 176, kekespro.scss */
.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%; }

/* line 182, kekespro.scss */
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%; }
  /* line 186, kekespro.scss */
  .li-img img {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px; }

/* line 193, kekespro.scss */
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  padding: .5em;
  min-height: 6em; }

/* line 200, kekespro.scss */
.li-head {
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
  font-weight: 400; }

/* line 205, kekespro.scss */
.li-sub {
  margin: 0; }

/* line 208, kekespro.scss */
#ostoskoripainike {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  background-color: white;
  text-transform: uppercase; }

/* line 218, kekespro.scss */
.productresult {
  position: relative;
  cursor: pointer;
  min-height: 18em; }
  /* line 223, kekespro.scss */
  .productresult:hover .overlay {
    border: 10px solid #420;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #D5C8BD;
    opacity: .1;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

/* line 238, kekespro.scss */
span.reduce img {
  cursor: pointer;
  width: 10px;
  float: right;
  margin-right: 20px; }

/* line 244, kekespro.scss */
.h1end {
  display: none; }

@media all and (min-width: 40em) {
  /* line 248, kekespro.scss */
  body {
    color: #444;
    font-weight: 200; }

  /* line 252, kekespro.scss */
  h1 {
    display: none; }

  /* line 255, kekespro.scss */
  header, .leftColumn {
    margin-right: 16em; }

  /* line 258, kekespro.scss */
  .rightColumn {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17em;
    background: #eee9e5;
    padding-left: 1em; }

  /* line 269, kekespro.scss */
  .list {
    padding: 0.5em;
    margin: 0 auto;
    overflow: hidden; }

  /* line 274, kekespro.scss */
  .list li {
    padding: 0.5em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
    border: 3px solid white; }

  /* line 283, kekespro.scss */
  .li-img, .li-text {
    display: block;
    width: auto;
    padding: 0; }

  /* line 288, kekespro.scss */
  .li-text {
    padding: 0.5em; }

  /* line 291, kekespro.scss */
  #ostoskoripainike {
    display: none; }

  /* line 294, kekespro.scss */
  .h1end {
    display: block; } }
@media all and (min-width: 50em) {
  /* line 299, kekespro.scss */
  h1 {
    display: inline-block; }

  /* line 302, kekespro.scss */
  .list li {
    width: 33%; }

  /* line 305, kekespro.scss */
  .leftColumn {
    margin-right: 19.5em; }

  /* line 308, kekespro.scss */
  .rightColumn {
    width: 20em;
    padding-left: 1.5em; }

  /* line 312, kekespro.scss */
  .rightColumn {
    background: #eee9e5; }

  /* line 315, kekespro.scss */
  input {
    width: 230px; } }
@media all and (min-width: 60em) {
  /* line 320, kekespro.scss */
  .list li {
    width: 20%;
    border: 3px solid white;
    border-radius: 5px; } }
@media all and (min-width: 100em) {
  /* line 327, kekespro.scss */
  .list li {
    width: 12.5%; }

  /* line 330, kekespro.scss */
  .leftColumn {
    margin-right: 22.75em; }

  /* line 333, kekespro.scss */
  .rightColumn {
    width: 22em; } }

/*# sourceMappingURL=kekespro.css.map */
