/* line 5, kekespro.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #444;
  line-height: 1.2; }

/* line 12, kekespro.scss */
body {
  margin: 0; }

/* line 17, kekespro.scss */
a {
  color: #3190ED;
  text-decoration: none;
  font-weight: 400; }
  /* line 21, kekespro.scss */
  a:hover {
    text-decoration: underline; }

/* line 25, kekespro.scss */
#ex1 {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 5px; }

/* line 31, kekespro.scss */
#ex1 p {
  color: #000; }

/* line 34, kekespro.scss */
span.icon_clear {
  position: absolute;
  top: 48px;
  right: 10px;
  display: none;
  cursor: pointer;
  font: 1em sans-serif;
  color: #ccc; }

/* hakufilter */
/* line 45, kekespro.scss */
span.icon_clear:hover {
  color: black; }

/* line 49, kekespro.scss */
.urlToBasket {
  float: left;
  margin: 10px 0; }

/* line 53, kekespro.scss */
.emptyBasket {
  float: right;
  margin: 10px;
  display: none; }

/* line 58, kekespro.scss */
#basketcontents {
  clear: both;
  line-height: 1.35em;
  font-weight: 300; }
  /* line 62, kekespro.scss */
  #basketcontents b {
    display: block; }
  /* line 65, kekespro.scss */
  #basketcontents .itemRow {
    padding: 5px 0; }
    /* line 67, kekespro.scss */
    #basketcontents .itemRow .reduce {
      cursor: pointer;
      float: right;
      padding: 2px 5px;
      margin: 10px 10px 0 0;
      border-radius: 15px; }
      /* line 73, kekespro.scss */
      #basketcontents .itemRow .reduce:hover {
        background: #D5C8BD; }

/* line 79, kekespro.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.99; }

/* line 87, kekespro.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em; }
  /* line 91, kekespro.scss */
  h1 a, h2 a {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit; }

/* line 98, kekespro.scss */
h1 {
  padding: 30px;
  display: none; }

/* line 102, kekespro.scss */
h2 {
  padding: 30px 0px 30px 0px;
  display: inline-block; }

/* line 106, kekespro.scss */
b {
  font-weight: 600; }

/* line 109, kekespro.scss */
mark {
  color: #444;
  font-weight: 400;
  background-color: #ffdd33; }

/* line 114, kekespro.scss */
label {
  margin-top: 5px;
  display: block;
  font-weight: 300; }

/* line 119, kekespro.scss */
input {
  width: 200px; }

/* line 122, kekespro.scss */
input[type="text"] {
  display: inline-block;
  outline: none;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  margin: 5px 0; }
  /* line 131, kekespro.scss */
  input[type="text"]::before {
    content: "x";
    color: red; }
  /* line 135, kekespro.scss */
  input[type="text"]:focus {
    background-color: #fafcff;
    border: 1px solid #88aaee; }
  /* line 139, kekespro.scss */
  input[type="text"].invalid + .required {
    display: inline-block; }

/* line 144, kekespro.scss */
.required {
  display: none;
  color: red;
  margin-left: 3px; }

/* line 150, kekespro.scss */
input[type="button"] {
  display: block;
  outline: none;
  cursor: pointer;
  height: 3em;
  margin: 5px 0;
  font-weight: 400;
  font-size: 1em;
  background-color: #C4E8FF;
  border: 1px solid #8CC2E5;
  color: #444; }
  /* line 161, kekespro.scss */
  input[type="button"]:hover:not(:disabled) {
    color: #000;
    background-color: #AFE0FF; }
  /* line 165, kekespro.scss */
  input[type="button"]:disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background: #eee; }

/* line 172, kekespro.scss */
.columnsContainer {
  position: relative;
  margin: 7em .5em .5em .5em; }

/* line 176, kekespro.scss */
.leftColumn, .rightColumn {
  padding: .25em; }

/* line 179, kekespro.scss */
.leftColumn {
  margin-bottom: .5em; }

/* line 182, kekespro.scss */
.rightColumn {
  background: #eee9e5; }

/* line 185, kekespro.scss */
ul {
  padding: 0; }

/* line 188, kekespro.scss */
.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%; }

/* line 194, kekespro.scss */
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%; }
  /* line 198, kekespro.scss */
  .li-img img {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px; }

/* line 205, kekespro.scss */
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  padding: .5em;
  min-height: 6em; }

/* line 212, kekespro.scss */
.li-head {
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
  font-weight: 400; }

/* line 217, kekespro.scss */
.li-sub {
  margin: 0; }

/* line 220, kekespro.scss */
#ostoskoripainike {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  background-color: white;
  text-transform: uppercase; }

/* line 230, kekespro.scss */
.productresult {
  position: relative;
  cursor: pointer;
  min-height: 18em; }
  /* line 235, kekespro.scss */
  .productresult:hover .overlay {
    border: 10px solid #420;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #D5C8BD;
    opacity: .1;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

/* line 249, kekespro.scss */
.productResultTemplate {
  display: none; }

/* line 253, kekespro.scss */
.h1end {
  display: none; }

@media all and (min-width: 40em) {
  /* line 257, kekespro.scss */
  body {
    color: #444;
    font-weight: 200; }

  /* line 261, kekespro.scss */
  h1 {
    display: none; }

  /* line 264, kekespro.scss */
  header, .leftColumn {
    margin-right: 16em; }

  /* line 267, kekespro.scss */
  .rightColumn {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17em;
    background: #eee9e5;
    padding-left: 1em; }

  /* line 278, kekespro.scss */
  .list {
    padding: 0.5em;
    margin: 0 auto;
    overflow: hidden; }

  /* line 283, kekespro.scss */
  .list li {
    padding: 0.5em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
    border: 3px solid white; }

  /* line 292, kekespro.scss */
  .li-img, .li-text {
    display: block;
    width: auto;
    padding: 0; }

  /* line 297, kekespro.scss */
  .li-text {
    padding: 0.5em; }

  /* line 300, kekespro.scss */
  #ostoskoripainike {
    display: none; }

  /* line 303, kekespro.scss */
  .h1end {
    display: block; } }
@media all and (min-width: 50em) {
  /* line 308, kekespro.scss */
  h1 {
    display: inline-block; }

  /* line 311, kekespro.scss */
  .list li {
    width: 33%; }

  /* line 314, kekespro.scss */
  .leftColumn {
    margin-right: 19.5em; }

  /* line 317, kekespro.scss */
  .rightColumn {
    width: 20em;
    padding-left: 1.5em; }

  /* line 321, kekespro.scss */
  .rightColumn {
    background: #eee9e5; }

  /* line 324, kekespro.scss */
  input {
    width: 230px; } }
@media all and (min-width: 60em) {
  /* line 329, kekespro.scss */
  .list li {
    width: 20%;
    border: 3px solid white;
    border-radius: 5px; } }
@media all and (min-width: 100em) {
  /* line 336, kekespro.scss */
  .list li {
    width: 12.5%; }

  /* line 339, kekespro.scss */
  .leftColumn {
    margin-right: 22.75em; }

  /* line 342, kekespro.scss */
  .rightColumn {
    width: 22em; } }

/*# sourceMappingURL=kekespro.css.map */
