/* line 4, kekespro.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, kekespro.scss */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #444; }

/* line 15, kekespro.scss */
a {
  font-size: 16px;
  font-weight: 400;
  color: #3190ED;
  text-decoration: none; }
  /* line 20, kekespro.scss */
  a:hover {
    text-decoration: underline; }

/* line 24, kekespro.scss */
#ex1 {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 5px; }

/* line 30, kekespro.scss */
#ex1 p {
  color: #000; }

/* line 33, kekespro.scss */
span.icon_clear {
  position: absolute;
  top: 43px;
  right: 10px;
  display: none;
  cursor: pointer;
  font: 1em sans-serif;
  color: #ccc; }

/* hakufilter */
/* line 44, kekespro.scss */
span.icon_clear:hover {
  color: #000; }

/* line 48, kekespro.scss */
.urlToBasket {
  float: left;
  margin: 10px 0; }

/* line 52, kekespro.scss */
.emptyBasket {
  float: right;
  margin: 10px;
  display: none; }

/* line 57, kekespro.scss */
#basketcontents {
  clear: both;
  line-height: 1.35em;
  font-weight: 300; }
  /* line 61, kekespro.scss */
  #basketcontents b {
    display: block;
    margin-top: 10px; }

/* line 66, kekespro.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.99; }

/* line 74, kekespro.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em; }
  /* line 78, kekespro.scss */
  h1 a, h2 a {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit; }

/* line 85, kekespro.scss */
h1 {
  padding: 30px;
  display: none; }

/* line 89, kekespro.scss */
h2 {
  padding: 30px 0px 30px 0px;
  display: inline-block; }

/* line 93, kekespro.scss */
b {
  font-weight: 600; }

/* line 96, kekespro.scss */
mark {
  color: #444;
  background-color: #ffdd33; }

/* line 100, kekespro.scss */
label {
  display: block;
  font-weight: 300; }

/* line 104, kekespro.scss */
input {
  width: 200px; }

/* line 107, kekespro.scss */
input[type="text"] {
  display: inline-block;
  outline: none;
  height: 40px;
  padding: 10px;
  font-weight: 100;
  font-size: 1em;
  color: #444;
  border: 1px solid #ccc;
  margin: 5px 0; }
  /* line 117, kekespro.scss */
  input[type="text"]::before {
    content: "x";
    color: red; }
  /* line 121, kekespro.scss */
  input[type="text"]:focus {
    background-color: #fafcff;
    border: 1px solid #88aaee; }
  /* line 125, kekespro.scss */
  input[type="text"].invalid + .required {
    display: inline-block; }

/* line 130, kekespro.scss */
.required {
  display: none;
  color: red;
  margin-left: 3px; }

/* line 136, kekespro.scss */
input[type="button"] {
  display: inline-block;
  outline: none;
  cursor: pointer;
  height: 3em;
  margin: 5px 0;
  font-weight: 100;
  font-size: 1em;
  background-color: #C4E8FF;
  border: 1px solid #8CC2E5;
  color: #444; }
  /* line 147, kekespro.scss */
  input[type="button"]:hover:not(:disabled) {
    color: #000;
    background-color: #AFE0FF; }
  /* line 151, kekespro.scss */
  input[type="button"]:disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background: #eee; }

/* line 158, kekespro.scss */
.columnsContainer {
  position: relative;
  margin: 7em .5em .5em .5em; }

/* line 162, kekespro.scss */
.leftColumn, .rightColumn {
  padding: .25em; }

/* line 165, kekespro.scss */
.leftColumn {
  margin-bottom: .5em; }

/* line 168, kekespro.scss */
ul {
  padding: 0; }

/* line 171, kekespro.scss */
.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%; }

/* line 177, kekespro.scss */
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%; }
  /* line 181, kekespro.scss */
  .li-img img {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px; }

/* line 188, kekespro.scss */
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  min-height: 6em; }

/* line 194, kekespro.scss */
.li-head {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: capitalize; }

/* line 201, kekespro.scss */
.li-sub {
  margin: 0;
  font-weight: 300; }

/* line 205, kekespro.scss */
#ostoskoripainike {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  background-color: white;
  text-transform: uppercase; }

/* line 215, kekespro.scss */
.productresult {
  cursor: pointer;
  min-height: 18em; }
  /* line 218, kekespro.scss */
  .productresult:hover {
    border: 3px solid #ddd;
    border-radius: 5px; }

/* line 223, kekespro.scss */
span.reduce img {
  cursor: pointer;
  width: 10px;
  float: right;
  margin-right: 20px; }

/* line 229, kekespro.scss */
.h1end {
  display: none; }

@media all and (min-width: 40em) {
  /* line 233, kekespro.scss */
  body {
    color: #444;
    font-weight: 200; }

  /* line 237, kekespro.scss */
  h1 {
    display: none; }

  /* line 240, kekespro.scss */
  header, .leftColumn {
    margin-right: 16em; }

  /* line 243, kekespro.scss */
  .rightColumn {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17em;
    background: #eee;
    padding-left: 1em; }

  /* line 254, kekespro.scss */
  .list {
    padding: 0.5em;
    margin: 0 auto;
    overflow: hidden; }

  /* line 259, kekespro.scss */
  .list li {
    padding: 0.5em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
    border: 3px solid white; }

  /* line 268, kekespro.scss */
  .li-img, .li-text {
    display: block;
    width: auto;
    padding: 0; }

  /* line 273, kekespro.scss */
  .li-text {
    padding: 0.5em 0; }

  /* line 276, kekespro.scss */
  #ostoskoripainike {
    display: none; }

  /* line 279, kekespro.scss */
  .h1end {
    display: block; } }
@media all and (min-width: 50em) {
  /* line 284, kekespro.scss */
  h1 {
    display: inline-block; }

  /* line 287, kekespro.scss */
  .list li {
    width: 33%; }

  /* line 290, kekespro.scss */
  .leftColumn {
    margin-right: 19.5em; }

  /* line 293, kekespro.scss */
  .rightColumn {
    width: 20em;
    background: #eee;
    padding-left: 1.5em; }

  /* line 298, kekespro.scss */
  input {
    width: 230px; } }
@media all and (min-width: 60em) {
  /* line 303, kekespro.scss */
  .list li {
    width: 20%;
    border: 3px solid white;
    border-radius: 5px; } }
@media all and (min-width: 100em) {
  /* line 310, kekespro.scss */
  .list li {
    width: 12.5%; }

  /* line 313, kekespro.scss */
  .leftColumn {
    margin-right: 22.75em; }

  /* line 316, kekespro.scss */
  .rightColumn {
    width: 22em; } }

/*# sourceMappingURL=kekespro.css.map */
